{% extends 'base.html.twig' %}
{% block body %}
<table class="table">
    <tr>
        <th>Todo</th>
        <th>Description</th>
    </tr>
    {% for todo,description in app.session.get('todos') %}
        <tr class="{% if loop.index is odd %} table-primary {% else %} table-warning {% endif %}">
            <td>{{ todo }}</td>
            <td>{{ description }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block title %}
    liste des todos
{% endblock %}
{% block mainTitle %}
    TDO
{% endblock %}
{% block pageTitle %}
    Todo list
{% endblock %}